footer {
    margin-top: 60px;
    clear: both;
    position: relative;
    padding: 10px 10px;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    background: #eee;
    /*font-size: 14px;*/
    text-align: center;
}
